@media screen and (max-width: 768px) {
  .app_container {
    max-width: 768px;
    text-align: left;
    padding-left: 20px;
    padding-right: 144px;
  }

  .app_title {
    font-size: 54px;
    line-height: 65px;
  }

  .app_btn {
    margin: 0 0;
  }

  .app_background_image {
    top: -21%;
    left: -30%;
  }

  .relative_span::after {
    content: url(../img/Vector_app_tablet.png);
    left: -140%;
    top: 40%;
  }
}

@media screen and (max-width: 425px) {
  .app_container {
    max-width: 425px;
    padding: 100px 16px 140px;
  }

  .app_content_container {
    max-width: 325px;
  }

  .app_title {
    font-size: 36px;
    line-height: 44px;
  }

  .relative_span::after {
    content: url(../img/Vector_mobile_app.png);
    left: 0%;
    top: 50%;
  }
}
