.clientCardWhite {
  background-color: var(--secondaryWhite);
  max-width: 450px;
  border-radius: 10px;
  padding: 60px 40px;
  box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
}

.darkLine {
  background-color: black;
  height: 1px;
  margin-top: 40px;
}

.clientNameDark {
  color: black;
  font-size: 24px;
  line-height: 36px;
}
