.footerTop {
  background-color: #043873;
  color: white;
}
.footerTop_textBox {
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerTop_textBox * {
  text-align: center;
}

.footerTop__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 24px;
  padding-top: 140px;
}

.footerTop__desc {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.02em;
}

.footerTop__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.02em;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footerTop_icons {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .footerTop_textBox {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footerTop_textBox * {
    text-align: left;
  }

  .footerTop__title {
    font-weight: 700;
    font-size: 54px;
    line-height: 62px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 24px;
    padding-top: 140px;
  }

  .footerTop__desc {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  .footerTop__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
}
