@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

header{
    height: 92px;

}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction:row;
    align-items: center;
}

