@import 'reset.css';
@import 'mainColor.css';
@import 'main.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 10px;
}
body {
  font-family: 'Inter', sans-serif;
}
.hero {
  padding: 140px 220px;
  background-color: var(--primaryOne);
  color: var(--secondaryWhite);
  display: flex;
  gap: 30px;
  background-image: url(../img/hero-background.png);
  background-repeat: no-repeat;
  background-position: top 192px right 0px;
}
.hero-text {
  max-width: 656px;
  margin: 94px 0;
}
.hero-title {
  font-size: 64px;
  line-height: 77px;
  font-weight: 700;
}
.hero-subtitle {
  font-size: 18px;
  line-height: 30px;
  margin-top: 24px;
}
.hero-placeholder {
  background-color: #c4defd;
  height: 549px;
  width: 824px;
}

.hero .btn-main {
  padding: 20px;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
}
.tabletVisible {
  display: hidden;
}
@media screen and (max-width: 768px) {
  .hero {
    padding: 140px 20px 100px;
    flex-direction: column;
    text-align: center;
    gap: 0px;
    background-image: url(../img/tablet-hero-background.png);
    background-position: top 120px right 0px;
  }
  .hero-text {
    max-width: none;
    margin-bottom: 0;
    margin-top: 0;
  }
  .hero-title {
    font-size: 54px;
    line-height: 65px;
  }
  .hero .btn-main {
    padding: 20px 40px;
    margin: 60px auto;
  }
  .hero-placeholder {
    height: 367px;
    width: 551px;
    margin: 0 auto;
    margin-top: 40px;
  }
}

/* mobile from 425px*/

@media screen and (max-width: 425px) {
  .hero {
    padding: 80px 16px 80px;
    display: flex;
    flex-direction: column;
    background-position: 21px 11px;
  }
  .hero-placeholder {
    height: 191px;
    width: 286px;
    margin-left: 0;
    margin-right: 0;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .hero-title {
    font-size: 36px;
    width: 340px;
    margin: auto;
  }
}
/* mobile done */
