:root {
    --primaryOne: #043873;
    --primaryTwo: #4F9CF9; 
    --secondaryYellow: #FFE492; 
    --secondaryBlue: #A7CEFC; 
    --secondaryWhite: #ffffff; 
    --secondaryDarkGrey: #ffffff; 
    --secondaryLightGrey: #B4B4B4; 
  }
;
