@import "mainColor.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap"); /* Google font inter*/

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 10px;
}

.extension {
  /* width: 1921px; */
  height: 759px;
  background-color: #043873;
}
.innerDiv {
  display: flex;
  flex-direction: row;
  gap: 98px;
  padding-top: 140px;
}
.extension h2,
.extension p {
  color: white;
  font-family: "Inter", sans-serif;
}
.extension h2 {
  font-size: 72px;
  font-weight: 700;
}
.extension p {
  font-size: 18px;
  font-weight: 400;
}
.innerBox {
  background-color: #c4defd;
  width: 686px;
  height: 479px;
}
body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.btn-main {
  background-color: var(--primaryTwo);
  color: var(--secondaryWhite);
  padding: 20px 40px;
  border: 0;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-family: "Inter", sans-serif;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1921px;
  margin: 0 auto;
  padding: 10px;
}

.app_container {
  width: 1921px;
  margin: 5px auto;
  padding: 140px 0;
  background-color: var(--primaryOne);
  text-align: center;
  position: relative;
}

.app_content_container {
  width: 1064px;
  margin: 0 auto;
}

.title_container {
  position: relative;
}

.app_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: var(--secondaryWhite);
  margin: 0 0 24px;
  position: static;
  z-index: 10;
  position: relative;
}

.app_paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: var(--secondaryWhite);
  margin: 0 0 60px;
}

.app_background_image {
  position: absolute;
  top: -31%;
  left: 0;
}

.app_vector_image {
  position: absolute;
  z-index: 1;
  right: -1.5%;
  bottom: 1%;
}

.app_btn {
  display: flex;
  align-self: center;
  align-items: center;
  margin: 0 auto;
  gap: 5px;
  cursor: pointer;
}
