@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap"); /* Google font inter*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

.btn-main {
  background-color: var(--primaryTwo);
  color: var(--secondaryWhite);
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 10px;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 20px;
  font-weight: 400;
  margin-top: 33px;
  padding-bottom: 32px;
}

.footerBottom .terms {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.footerBottom .socials {
  width: 105px;
  display: flex;
  justify-content: space-between;
}

.footerBottom .languageChange {
  display: flex;
}

.footerBottom a {
  text-decoration: none;
  color: #fff;
}

.footerBottom p {
  margin: 0;
  padding: 0 6px;
}

footer {
  background-color: #043873;
  color: #fff;
}
hr {
  background: rgba(46, 78, 115, 1);
  border: none;
  height: 1px;
}
.hr.container {
  padding-top: 0;
  padding-bottom: 0;
}
