@import "mainColor.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap'); /* Google font inter*/

.btn-main {
  background-color: var(--primaryTwo);
  color: var(--secondaryWhite);
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.02em;
  font-family: 'Inter', sans-serif;
  border: none;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 10px;
}

.white-plan {
    padding: 40px 44px;
    border: 1px solid var(--secondaryYellow);
    background-color: var(--secondaryWhite);
    border-radius: 10px;
    width: fit-content;
    color: #212529;
}
.white-plan .btn-secondary {
    width:fit-content;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #212529;
    background-color: var(--secondaryWhite);
    padding: 16px 40px;
    border: 1px solid var(--secondaryYellow);
    margin-top: 25px;
}
.white-plan .plan-title {
    margin-bottom: 25px;
    margin-top: 0;
    line-height: 36px;
    font-size: 24px;
    font-weight: 600;
}
.white-plan .plan-price {
    line-height: 44px;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 25px;
    margin-top: 0;
}
.white-plan .plan-subtitle{
    margin-bottom: 25px;
    margin-top: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.02em;
}
.white-plan .perks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
}