@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

.yourData-tablet {
}
.yourData-tablet__img {
  margin: 140px auto 100px;
  width: 513px;
}
.yourData-tablet__img img {
  width: 100%;
}
.yourData-tablet__content {
  color: #212529;
  text-align: center;
}
.yourData-tablet__content h3 {
  font-weight: 700;
  font-size: 54px;
  line-height: 65px;
  margin: 0;
  margin-bottom: 24px;
}
.yourData-tablet__content p {
  line-height: 30px;
  margin: 0;
  margin-bottom: 60px;
}
.yourData-tablet__content button {
  font-size: 16px;
  line-height: 1;
}
