.yourDataSect h2 {
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}
.yourDataSect p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  margin: 0;
}

.yourDataSect .btn-main {
  margin-top: 50px;
}

.yourDataSect {
  background-image: url(../img/Vector.png);
  background-repeat: no-repeat;
  background-position: 215px 130px;
}
