@media screen and (max-width: 768px) {
  .container.grid {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .container.grid img {
    margin: 140px auto 100px;
    width: 513px;
  }
  .yourDataSect {
    text-align: center;
  }
  .yourDataSect p {
    margin-bottom: 10px;
  }
  .yourDataSect h2 {
    font-size: 54px;
    line-height: 65px;
    margin: 0;
    margin-bottom: 24px;
  }
  .yourDataSect button {
    font-size: 16px;
    line-height: 1;
  }
  .yourDataSect {
    background-image: url(../img/textDecor.png);
    background-repeat: no-repeat;
    background-position: 285px 40px;
  }
}
