<section class="footerBottom container">
    <div class="terms">
        <div class="languageChange">
            <a href="#"><i class="fa fa-globe" aria-hidden="true"></i> </a>
            <p>English</p>
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </div>
        <a href="#">Terms & Privacy</a>
        <a href="#">Security</a>
        <a href="#">Status</a>
        <a href="#">&#169;2021 Whitepace LLC.</a>
    </div>
    <div class="socials">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
</section>