<section class="footerTop">
  <div class="container footerTop_textBox">
    <h2 class="footerTop__title">Try Whitepace today</h2>
    <p class="footerTop__desc">
      Get started for free. Add your whole team as your needs grow.
    </p>
    <button class="btn-main footerTop__btn">
      Try Taskey free <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>
    <p class="footerTop__text">On a big team? Contact sales</p>
    <div class="footerTop_icons">
      <img
        src="./img/icons/apple-black-logo.png"
        alt=""
        style="filter: brightness(0) invert(1)"
      />
      <img
        src="./img/icons/windows-logo.png"
        alt=""
        style="filter: brightness(0) invert(1)"
      />
      <img
        src="./img/icons/android-logo.png"
        alt=""
        style="filter: brightness(0) invert(1)"
      />
    </div>
  </div>
</section>
