<section class="container our-sponsors-section">
  <h2 class="our-sponsors_h2El">Our Sponsors</h2>
  <div class="our-sponsors_icons">
    <div class="our-sponsors-icon_div">
      <img
        src="/img/icons/apple-black-logo.png"
        alt="icon"
        class="sponsors-one-icon"
      />
    </div>
    <div class="our-sponsors-icon_div">
      <div>
        <img
          src="/img/icons/windows-logo.png"
          alt="icon"
          class="sponsors-one-icon"
        />
      </div>
      <div>
        <p class="our-sponsors-microsoft">Microsoft</p>
      </div>
    </div>
    <div class="our-sponsors-icon_div">
      <div class="our-sponsors-icon_div">
        <img src="/img/icons/slack2.png" alt="" class="" />
      </div>
      <div>
        <p class="our-sponsors-slack">slack</p>
      </div>
    </div>
    <div class="our-sponsors-icon_div">
      <img src="/img/icons/Google.png" alt="" />
    </div>
  </div>
</section>
