<section class="container workTogether">
    <div class="wtgBox1">
        <img class="workTogetherPng" src="./img/Work Together Image.png" alt="png photo">
    </div>
    <div class="wtgBox2">
        <h2 class="wtgHeading">Work together</h2>
        <p>With whitepace, share your notes with your colleagues and collaborate on them.
            You can also publish a note to the internet and share the URL with others.
        </p>
        <button class="btn-main"> Try it now <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>
</section>