<section class="container grid">
  <div class="yourDataSect">
    <h2>100% your data</h2>

    <p>
      The app is open source and your notes are saved to an open format, so
      you'll always have access to them. Uses End-To-End Encryption (E2EE)
      to secure your notes and ensure no-one but yourself can access them.
    </p>
    <button class="btn-main">
      Read more <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>
  </div>
  <img src="./img/Element.png" alt="" class="element-img" />
</section>